* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #fafafa;
}

main {
    padding: 50px;

    > section {
        max-width: 80%;
        min-width: 60%;
        border: 1px solid rgb(176, 176, 176);
        margin: 50px auto;
        padding: 10px 20px;

        > h2 {
            text-align: center;
            font-size: 2.5 rem;
        }
    }

    > section.matches {
        
        > div#matchesContainer {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 5px;

            > div.matchCard {
                border: 1px solid rgb(176, 176, 176);
                background-color: rgb(245, 247, 249);
                padding: 20px 0;

                display: grid;
                grid-template-columns: 4fr 1fr;

                > div.teams {
                    border-right: 1px solid rgb(145, 145, 145);
                    display: flex;
                    flex-direction: column;
                    gap: 10px;

                    > div {
                        display: flex;
                        gap: 10px;
                        align-items: center;

                        > img {
                            width: 50px;
                            height: 50px;
                        }
                        > h4 {
                            flex: 5;
                            margin: 0;
                        }
                        > span {
                            padding-right: 15px;
                        }
                    }
                }
                > div.date {
                    place-self: center;
                    text-align: center;
                }
            }
        }
    }
}